body{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    overflow-y: hidden; 
    margin: 0;
    height: 0;
    
}
.box{
 
    background-color: lightblue;
    width: 300px;
    height: 300px;
   
}
.inner-boxes{
    height: 80px;
    width: 80px;
    background-color: white;
    margin-left: 22px;
    margin-top: 10px;
    border-color: white;

}
.rows{
    margin-top: 5px;
}